@font-face {
  font-family: 'Noto';
  src: url('src/assets/Noto_Sans/NotoSans-Bold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto';
  src: url('src/assets/Noto_Sans/NotoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
