/*::-webkit-scrollbar {
  display: none;
}*/
@import 'theme';
//@import "fonts/Noto_Sans";
@import 'fonts/Roboto';
@import 'helpers';
@import 'transitions';

html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  color: var(--text);
}
:root {
  --transition-delay: 0.2s;
}
