//$primary: #1976d2;
//$secondary: #26a69a;
//$accent: #9c27b0;
//$light: rgb(255, 255, 255);
//$active-bg: rgb(80, 80, 80);
//$active-text: rgb(255, 255, 255);
//$text: white;
//$jesus: rgb(151, 0, 0);
//$dark: #1d1d1d;
//$separator: rgba(75, 75, 75, 0.3);
//$positive: #21ba45;
//$negative: #c10015;
//$info: #31ccec;
//$warning: #f2c037;
