.scroll-container {
  overflow: auto;
  overflow: overlay !important;
  //visibility: hidden;
  //transition: all 2s;
}
.scroll-content,
.scroll-container:hover,
.scroll-container:focus {
  //visibility: visible;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  position: absolute;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  min-height: 25px;
  //transition: 0.3s all linear;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}
::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--scrollbar);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  min-width: 25px;
}
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--scrollbar-hover);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
